* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans , sans-serif;
}

body {
    background-color: #ffffff;

}

.header {
background-color: blue;
color: rgb(255, 255, 255);
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 30px;
}

.logo {
display: flex;
align-items: center;
gap: 10px;
}

.Explorando {
font-size: 1.2rem;

}

.bandeira{
width: 30px;
}

.home ul li a{ 
background-color: white;
color: black;
text-decoration: none;
padding: 5px 12px;
border-radius: 15px;
font-weight: bold;
font-size: 0.9rem;
transition: 0.3;    
}

.home ul li a:hover {
background-color: #e0e0e0;
}

.home ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.home ul li a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3s;
}

.home ul li a:hover {
    background-color: #e0e0e0;
}


.cultura{
max-width: 800px;
margin: 0 auto 40px auto;
font-size: 1rem;

}

.h1{
font-size: 30px;
    max-width: 700px;
    margin: 0 auto;
}

.p{
    max-width: 700px;
  margin: 0 auto 30px auto;
  font-size: 1rem;  
}

.fotos{
    width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;

}

.marcio{
    text-align: center;
   padding: 100 px;
  max-width: 700px;
  margin: 0 auto;
  font-size: 3rem;
    
}