* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans, sans-serif;
}

body {
    background-color: #ffffff;

}


.header {
    background-color: blue;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Explorando {
    font-size: 1.2rem;

}

.bandeira {
    width: 30px;
}

.home ul li a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3;
}

.home ul li a:hover {
    background-color: #e0e0e0;
}

.home ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.home ul li a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3s;
}

.home ul li a:hover {
    background-color: #e0e0e0;
}


.h1 {
    text-align: center;
}

.primeiro {
    padding: 30px;
    text-align: center;
}



.nice {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;

}

.texto {
    width: 250px;
    text-align: center;
    font-family: open sans, sans-serif;

}

.texto img {
    width: 100%;
    margin-top: 40px;
    border-radius: 5px;
}

.p{
    text-align: center;
}