* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans, sans-serif;
}

body {
    background-color: #ffffff;

}


.header {
    background-color: blue;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Explorando {
    font-size: 1.2rem;

}

.bandeira {
    width: 30px;
}

.home ul li a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3;
}

.home ul li a:hover {
    background-color: #e0e0e0;
}

.home ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.home ul li a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3s;
}

.home ul li a:hover {
    background-color: #e0e0e0;
}


.titulo{
    text-align: center;

}

.p{
    text-align: center;
    padding: 100px;
}

.tudo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto 50px auto;



}

.topicos img{
      width: 100%;
    max-width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid #ddd;
    transition: transform 0.3s, box-shadow 0.3s;

    
}

.topicos{
    text-align: center;

}

.topicos h3{
      font-size: 18px;
    margin: 10px 0 5px 0;
}

.topicos p {
    font-size: 14px;
    margin: 0;
}

.topicos img:hover{
     transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}